<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EstiloMB</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/lightslider.css" />
	<script type="text/javascript" src="~/js/fa/all.js"></script>
    <script type="text/javascript" src="~/js/ChartJS/Chart.js"></script>
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/lightslider.js"></script>


</head>
<body>
    @*<div class="nav-top">
        <div class="social">
            <i class="fab fa-instagram icon"></i>
            <i class="fab fa-facebook-f icon"></i>
        </div>
    </div>*@
    <div class="nav-main">
       
        
        @*<div class="search">
            <div class="content">
                <div> <i class="fas fa-search icon"></i> </div>
                <input type="text" name="" data-bind="" />
            </div>
        </div>*@
        @*<div class="social">
            <i class="fab fa-instagram icon"></i>
            <i class="fab fa-facebook-f icon"></i>
        </div>*@
        <div class="iten-user">
            <div class="user">
                <ul>
                    <li><i class="far fa-user icon"></i></li>
                    <li><span>Entrar / Cadastre-se</span></li>
                </ul>
            </div>
        </div>
        <nav>
            <div class="wrapper">
                <ul class="nav-links">
                    <li>
                        <a>Novidades</a>
                    </li>
                    <li>
                        <a>Feminino</a>
                        @*<div class="mega-box">
                            <div class="content">
                                <div class="row">
                                    <h1>Services</h1>
                                    <ul class="mega-links">
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <h1>Services</h1>
                                    <ul class="mega-links">
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <h1>Services</h1>
                                    <ul class="mega-links">
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                        <li><a>Drop Menu</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
                    </li>
                    <li>
                         <img class="logo" src="~/image/logo-oficial.png" alt=""/>
                    </li>
                    <li>
                        <a>Promoções</a>
                    </li>
                    <li>
                        <a>Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="itens">
            <div class="user">
                <ul>
                    <li><i class="far fa-heart icon"></i></li>
                    <li><i class="far fa-shopping-cart icon"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <header>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        &copy; 2022 - EstiloMB_Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
