.logo{

}

.title > h1{
    padding: 20px;
}

.content-sis {
    height: 200px;
    display: grid;
    grid-template-rows: 10% 1fr;
}

.nav-main {
    display: grid;
    grid-template-columns: 5%;
    grid-template-rows: 7em;
    height: auto;
    background-color: #B583EA;
    grid-template-areas: "iten-user nav itens";
    box-shadow: 0px 3px 6px #0000000f;
}

.nav-space {
    margin-right: 7.5em;
}

.user ul li {
    padding: 5px;
}

.iten-user, .itens .user {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 32px;
}

.grafico-card{
    height: 390px;
}

/***************************Cadastro***************************/
.nav-opcoes {
    height: 100px;
    background-color: transparent;
    box-shadow: 0px 3px 6px #0000000f;
}

    .nav-opcoes > nav {
        display: flex;
        justify-content: center;
    }

    .nav-opcoes > nav > .wrapper {
        margin-top: 20px;
    }
        .nav-opcoes > nav > .wrapper > .nav-links > li {
            padding: 15px;
        }

            .nav-opcoes > nav > .wrapper > .nav-links > li > a {
                color: #B583EA;
            }

table {
    background-color: #f3f3f3;
    width: 100%;
}

    table tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: rgb(240, 240, 240);
    }

.button-new {
    padding: 10px 20px;
    outline: none;
    border-radius: 6px;
}

.search-crm {
    padding: 7px 20px;
    border-radius: 6px;
    border: 1px solid black;
    outline: none;
}