* {
    box-sizing: inherit;
}

/***********************************************************/
/***************************HELP***************************/
/***********************************************************/

.text-line-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 42px;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.absolute {
    /* position: inherit; */
    display: flex;
    flex-direction: row;
    width: 65em;
}

    .absolute td {
        width: 100%;
    }

    .absolute img {
        margin: 10px;
        height: 80px;
        width: 80px;
    }

.sidenav {
    grid-area: sidenav;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    z-index: 100;
    transition: all 0.5s ease;
    background: #B583EA;
}

    .sidenav ul {
        display: block;
    }

    .sidenav .nav-link {
        height: 100%;
        /*padding: 30px 0 150px 0;*/
        overflow: auto;
    }
        .sidenav .nav-link li {
            list-style: none;
            /*margin-bottom: 1.5em;*/
            position: relative;
            transition: all 0.4s ease;
        }
            .sidenav .nav-link li:hover {
                background: #f5f5f52a;
            }

        .sidenav .nav-link .sub-menu li:hover {
            background: #f5f5f500;
        }

            .sidenav .nav-link::-webkit-scrollbar {
                display: none;
            }

        .sidenav .nav-link li .iocn-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

            .sidenav .nav-link li .iocn-link > svg {
                height: 13px;
            }


        .sidenav .nav-link li .sub-menu {
            padding: 0px 0px 0px 57px;
            background: #f5f5f52a;
            display: none;
            /* padding: 6px 6px 14px 80px; */
            /* margin-top: -10px; */
            display: none;
        }

                    .sidenav .nav-link .showMenu .sub-menu {
                        display: block;
                    }

                    .sidenav.fechado .nav-link li .sub-menu {
                        position: absolute;
                        left: 100%;
                        top: -10px;
                        margin-top: 0;
                        padding: 10px 20px;
                        background: #b583eac9;
                        border-radius: 0 6px 6px 0;
                        transition: all 0.4s ease;
                        opacity: 0;
                        pointer-events: none;
                    }

    .sidenav.fechado .nav-link li:hover .sub-menu {
        top: 0px;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidenav.fechado .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

                    .sidenav .nav-link li .sub-menu .link_name {
                        display: none;
                    }

                    .sidenav.fechado .nav-link li .sub-menu .link_name {
                        font-size: 18px;
                        opacity: 1;
                        display: block;
                    }

    .sidenav .nav-link li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

                            .sidenav .nav-link li:hover .sub-menu.blank {
                                top: 50%;
                                transform: translateY(-50%);
                            }

    .sidenav .nav-link li .sub-menu a {
        color: white;
        font-size: 17px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

                    .sidenav .nav-link li .sub-menu a:hover {
                        opacity: 1;
                    }

    .sidenav .nav-link li svg {
        /*height: 20px;*/
        padding: 20px;
        text-align: center;
        line-height: 50px;
        color: white;
        transition: all 0.3s ease;
    }

                        .sidenav .nav-link li svg.arrow {
                            transform: rotate(90deg);
                        }

                        .sidenav .nav-link li.showMenu svg.arrow {
                            transform: rotate(0deg);
                        }

            .sidenav .nav-link li a {
                display: flex;
                align-items: center;
                text-decoration: none;

            }

                .sidenav .nav-link li a .link_name {
                    font-size: 17px;
                    font-weight: 500;
                    color: #fff;
                    transition: all 0.4s ease;
                }

    .logo {
        width: 100%;
        height: 100%;
        background-color: #B583EA;
    }

        .logo > img {
            margin-top: -20px;
            margin-left: 20px;
            height: 90px;
            width: 80%;
        }

/*span {
    display: inline-block;
    width: 100%;
    white-space: nowrap;*/
    /*overflow: hidden !important;*/
    /*text-overflow: ellipsis;
}*/

.title > h1{
    padding: 20px;
}

.content-sis {
    min-height: auto;
    display: grid;
    margin: 1.5em;
    grid-template-rows: 10% 1fr;
}

.content-grid {
    display: grid;
    grid-template-columns: 14.3em 1fr;
    grid-template-rows: 4em;
    height: auto;
    grid-template-areas:
        "sidenav nav-main"
        "sidenav content"
        "sidenav footer";
}

main {
    grid-area: content;
    background-color: #ebebeb;
    min-height: 561px;
}

.nav-main {
    display: grid;
    grid-area: nav-main;
    grid-template-columns: 1fr 6% auto;
    grid-template-rows: 1fr;
    height: auto;
    background-color: #ffffff;
    grid-template-areas: "search-content notification item";
    box-shadow: 0px 3px 6px #0000000f;
}

    .nav-main .nav-links li a {
        color: #333;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        padding: 9px 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .nav-main .teste {
        display: flex;
        grid-area: teste;
    }

    .nav-main .notification {
        display: flex;
        grid-area: notification;
        margin-top: -5px;
        align-items: center;
    }

        .nav-main .notification li {
            list-style: none;
        }

        .nav-main .notification a.icon, button.icon {
            position: relative;
            outline: 0;
            border: 0;
            padding: 0.25em;
            margin: 0 0.25em;
            border-radius: 50%;
            color: #333;
            background-color: transparent;
            min-width: 1.5em;
            height: 1.5em;
            font-family: inherit;
            font-size: inherit;
            text-align: center;
        }

        .nav-main .itens-sis {
            display: flex;
            grid-area: item;
            align-items: center;
            /*width: 70%;*/
            justify-content: flex-end;
        }

        .itens-sis .user-sis li {
            list-style: none;
        }


.nav-main .iten-user, .nav-main .itens-sis .user-sis {
    font-size: 16px;
    /*font-weight: 500;*/
    color: #333;
    padding-right: 30px;
    margin-top: -5px;
    /*padding-right: 1em;*/
}



.teste {
    padding-right: 2em;
}

            .nav-main .itens-sis .user-sis ul {
                gap: .8em;
                align-items: center;
            }

                .nav-main .itens-sis .user-sis ul .nameUser {
                    font-size: 14px;
                }

            .nav-main .itens-sis .user-sis li img {
                border-radius: 100%;
                /* margin-right: 1rem; */
                /*object-fit: cover;*/
                /*width: 2.2em;*/
                width: 2.7em;
                object-fit: cover;
                height: 2.7em;
                /*min-height: 2em;*/
                border: 1px solid #d0d0d0ff;
                /*-webkit-transform: scale(1.3);
                    -ms-transform: scale(1.3);
                    transform: scale(1.3);
                    object-fit: fill;*/
            }

            .nav-main .itens-sis .user-sis button.icon {
                position: relative;
                top: -5px;
                display: inline-block;
                background: none;
                border: 0;
                outline: 0;
                padding: 0;
                cursor: pointer;
                min-width: 0;
                min-height: 1.3em;
                font-size: 1.3em;
                text-align: center;
                color: #333;
                fill: currentColor;
            }

            .nav-space {
                margin-right: 7.5em;
            }

.user ul li {
    padding: 5px;
}

.iten-user, .itens .user {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 32px;
}

.grafico-card{
    height: 390px;
}

/***************************Cadastro***************************/
.nav-opcoes {
    display: none;
    height: 100px;
    background-color: transparent;
    box-shadow: 0px 3px 6px #0000000f;
}

    .nav-opcoes > nav {
        display: flex;
        justify-content: center;
    }

    .nav-opcoes > nav > .wrapper {
        margin-top: 20px;
    }
        .nav-opcoes > nav > .wrapper > .nav-links > li {
            padding: 15px;
        }

            .nav-opcoes > nav > .wrapper > .nav-links > li > a {
                color: #B583EA;
            }

table {
    width: 100%;
    position: relative;
    width: 100%;
    border-radius: 5px;
    border-spacing: 0;
    /*box-shadow: 0 0 1px 0 rgb(0 0 0 / 30%);*/
    /* border-collapse: collapse; */
    /*background-color: powderblue;*/
}

    table thead tr > th:first-child {
        /* border-radius: 5px 0 0 0; */
        border-top-left-radius: 5px;
    }

.table-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 2px;
    background-color: #ebebeb;
}

.button-new { 
    padding: 10px 20px;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
}

.search-content {
    grid-area: search-content;
    padding-left: 2em;
}

    .search-content li {
        list-style: none;
    }

.search-crm {
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    display: flex;
    padding-left: 1em;
    align-items: center;
    overflow-x: hidden;
}
    .search-crm span {
        display: inline-block;
        padding: 0rem 0.3rem;
        font-size: 1.5rem;
    }

    .search-crm input {
        height: 100%;
        padding: .5rem;
        border: none;
        outline: none;
    }

    /***********************************************************/
    /***************************TABLE***************************/
    /***********************************************************/

.table-content {
    padding: 1em;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 2.25rem;
    border-radius: 1em;
    background: white;
    box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 10%) !important;
}

    .table {
        table-layout: fixed;
        /*min-width: 1000px;*/
        border-collapse: collapse;
    }

thead th {
    position: sticky;
    top: 0;
    /* background-color: #c49af1; */
    padding-bottom: 2em;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

th, td {
    border-bottom: 1px solid #efefefc5;
    padding: 5px 10px;
    word-break: break-all;
    font-size: 16px;
    text-align: center;
}

td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 5px;
}

tr:hover td {
    cursor: pointer;
    background-color: #f6f6f6c5;
    transition: 0.1s;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------[ ELEMENTS ]*/
/*------------------------------------------------------------------*/
.text-center {
    text-align: center;
}

.loading-bars > span {
    background-color: white;
}

.tooltip > .tooltip-top {
    width: 0;
    height: 0;
    bottom: 0;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 1px grey;
    transition: bottom 0.2s ease, opacity 0.5s ease;
}

.tooltip > .tooltip-top, .tooltip > tooltip-bottom, .tooltip > tooltip-left, .tooltip > tooltip-right {
    display: block;
    position: absolute !important;
    overflow: hidden;
    opacity: 0;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    line-height: initial;
    color: var(--tooltip-text);
    background-color: var(--tooltip-color);
    border: 0px solid silver;
    border-radius: 3px;
    z-index: 2;
    pointer-events: none;
}

    .tooltip > .tooltip-top:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 0.5em solid white;
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        margin-top: -1px;
        filter: drop-shadow(0 2px 1px gray);
        -webkit-filter: drop-shadow(0 2px 1px gray);
    }

.tooltip-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 0.5em solid white;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    margin-top: -1px;
    filter: drop-shadow(0 2px 1px rgb(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0 2px 1px rgb(0, 0, 0, 0.5));
}

a.icon:not(:disabled).salvar:hover,
button.icon:not(:disabled).salvar:hover {
    color: green;
}

a.icon:not(:disabled).remover:hover,
button.icon:not(:disabled).remover:hover {
    color: red;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------[ OVERLAY ]*/
/*------------------------------------------------------------------*/

.popup-overlay {
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-trasition: 0.2s;
    -o-transition: 0.2s;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    user-select: none;
    opacity: 0;
}

.active {
    opacity: 1;
    z-index: 9999;
}

.popup-box-container {
    background-color: #fff;
    width: 50%;
    height: auto;
    padding: 25px;
    position: absolute;
    border-radius: 1em;
    padding-bottom: 0.5em;
    left: 50%;
    /*overflow: hidden;*/
    top: 2%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
}

    .popup-box-container .title {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 11px;
        margin-bottom: 15px;
        position: relative;
    }

        .popup-box-container .title::before {
            content: '';
            position: absolute;
            bottom: 0;
            height: 3px;
            width: 30px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

    .popup-box-container form .user-details {
        display: flex;
        flex-wrap: wrap;
        padding: 11px;
        justify-content: space-between;
    }

form .user-details .label {
    position: relative;
    display: block;
    line-height: 2em;
    /*margin-bottom: 15px;*/
    /*width: calc(100% / 2 - 15px);*/
}


.multiselect-container,
.user-details .label textarea,
.user-details .label select,
.user-details .label input {
    height: 33px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
    box-sizing: border-box;
    /* padding-left: 13px; */
    padding: 0 0.5em;
    padding-top: 0.2em;
    /* border-bottom-width: 2px; */
    transition: all 0.2s ease;
}
.user-details .label .details {
    display: block;
    font-weight: 500;
    font-size: 15px;
    padding-top: 10px;
}


/*.user-details .label select,  {
    height: 27px;
}*/

.user-details .label textarea {
    height: 65px;
    max-width: 100%;
}

form .gender-details .gender-title {
    font-weight: 500;
    margin-top: 0.5em;
}

    form .gender-details .category {
        display: flex;
        justify-content: space-between;
    }

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 4px;
    width: 9px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-1:checked ~ .category label .two,
#dot-1:checked ~ .category label .tree {
    border-color: #d9d9d9;
    background: #9b59b6;
}

form input[type="radio"]{
    display: none;
}

.button-cadastro {
    height: 45px;
    margin: 30px 0;
    display: flex;
}

    .button-cadastro input {
        height: 85%;
        width: 100%;
        outline: none;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
    }
        .button-cadastro input[value="Cancelar"] {
            background: linear-gradient(135deg, #f88383, #f88383);
        }

        .button-cadastro input[value="Salvar"] {
            background: linear-gradient(135deg, #71d470, #71d470);
        }

    .close {
        top: 30px;
        right: 30px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
    }

.close .icon {
    color: black;
}

/*.cols:not(:first-child) {
    margin-top: 1em;
}*/

.col-0 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.col-1 {
    width: 8.33333333333333%;
}

.col-2 {
    width: 16.66666666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333333333333%;
}

.col-5 {
    width: 41.66666666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333333333%;
}

.col-8 {
    width: 66.66666666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333333333333%;
}

.col-11 {
    width: 91.66666666666667%;
}

.col-12 {
    width: 100%;
}

.cols {
    clear: both;
    display: flex;
}

    .cols:after {
        content: '';
        display: block;
        clear: both;
    }

    .cols > .col-0,
    .cols > .col-1,
    .cols > .col-2,
    .cols > .col-3,
    .cols > .col-4,
    .cols > .col-5,
    .cols > .col-6,
    .cols > .col-7,
    .cols > .col-8,
    .cols > .col-9,
    .cols > .col-10,
    .cols > .col-11,
    .cols > .col-12 {
        float: left;
        padding: 0 0.5em;
        min-height: 1px;
        transition: width 0.2s ease, padding 0.2s ease;
    }

    .cols > .col-0 {
        padding: 0;
    }

    .cols > .col-1:first-child,
    .cols > .col-2:first-child,
    .cols > .col-3:first-child,
    .cols > .col-4:first-child,
    .cols > .col-5:first-child,
    .cols > .col-6:first-child,
    .cols > .col-7:first-child,
    .cols > .col-8:first-child,
    .cols > .col-9:first-child,
    .cols > .col-10:first-child,
    .cols > .col-11:first-child,
    .cols > .col-12 {
        padding-left: 0;
    }

    .cols > .col-1:last-child,
    .cols > .col-2:last-child,
    .cols > .col-3:last-child,
    .cols > .col-4:last-child,
    .cols > .col-5:last-child,
    .cols > .col-6:last-child,
    .cols > .col-7:last-child,
    .cols > .col-8:last-child,
    .cols > .col-9:last-child,
    .cols > .col-10:last-child,
    .cols > .col-11:last-child,
    .cols > .col-12 {
        padding-right: 0;
    }

.card-prod-image {
    max-width: 400px;
    max-height: 160px;
    margin: 0 auto;
    height: auto;
    padding: 15px;
    /* box-shadow: 0 0 5px rgb(0 0 0 / 15%); */
    border-radius: 5px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* background: #fafbff;*/
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .top .text-alert,
    .top p {
        font-size: 15px;
        font-weight: 600;
        color: black;
    }

    .top button {
        outline: 0;
        border: 0;
        -webkit-appearance: none;
        background: #c49af1;
        color: #fff;
        border-radius: 4px;
        transition: 0.3s;
        cursor: pointer;
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);*/
        font-size: 0.8rem;
        padding: 8px 13px;
    }

    .card-prod-image .top button:hover {
        opacity: 0.8;
    }

    .card-prod-image .top button:active {
        transform: translateY(5px);
    }

    .card-prod-image .top div {
        display: flex;
        flex-direction: column;
    }

        .card-prod-image .top div .text-alert {
            margin: 0;
            font-size: 0.7rem;
        }

        .card-prod-image .top div p {
            margin-bottom: 0;
        }

    .form {
        width: 100%;
        height: 160px;
        border-radius: 5px;
        border: 2px dashed #d5d5e1;
        color: #c8c9dd;
        font-size: 0.9rem;
        font-weight: 500;
        position: relative;
        background: #dfe3f259;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        margin-top: 20px;
    }

.form .select {
    color: #5256ad;
    margin-left: 7px;
    cursor: pointer;
}

    .top input {
        display: none;
    }

    .form.dragover {
        border-style: solid;
        font-size: 2rem;
        color: #c8c9dd;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.34);
    }

    .form > .inner {
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: initial;
        width: auto;
    }

.img-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
    height: auto;
    /* margin-top: 20px; */
    max-height: 300px;
    overflow-y: auto;
}

    .img-container .image {
        height: 120px;
        width: 50%;
        border-radius: 5px;
        box-shadow: 0 0 5px rgb(0 0 0 / 15%);
        overflow: hidden;
        position: relative;
        margin-bottom: 7px;
        margin-right: 7px;
    }

    .img-container .image:nth-child(4n) {
        margin-right: 0;
    }

    .img-container .image img {
        height: 100%;
        width: 100%;
    }

    .img-container .image > span {
        position: absolute;
        top: -4px;
        left: 0;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
    }

        .img-container .image > span::before {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: black;
        }

        .img-container .image > span:hover {
            opacity: 0.8;
        }


.select-btn {
    display: flex;
    /*flex-direction: column;*/
    height: 27px;
    margin-top: 3px;
    outline: none;
    border-radius: 5px;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    font-size: 11px;
    /*padding-left: 15px;*/
    border-bottom-width: 2px;
    transition: all 0.3s ease 0s;
    align-items: center;
    /*padding: 0 16px;*/
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
}

    .select-btn .btn-text {
        font-size: 13.5px;
        font-weight: 400;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .select-btn .arrow-dwn {
        display: flex;
        height: 21px;
        width: 21px;
        color: black;
        font-size: 14px;
        align-items: center;
        justify-content: center;
    }

.list-items {
    position: absolute;
    margin-top: 55px;
    z-index: 1;
    top: 13px;
    right: 0px;
    min-width: 84%;
    border-radius: 5px;
    display: flex;
    padding: 16px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    flex-direction: column;
    background-color: #fff;
    border-width: 1px 1px 2px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    display: none;
    overflow: auto;
    height: 15vh;
}



.select-btn.open ~ .list-items {
    display: block;
}

    .list-items .item {
        display: flex;
        align-items: center;
        /* height: 50px; */
        cursor: pointer;
        list-style: none;
        transition: 0.3s;
        padding: 0 10px;
        border-radius: 8px;
    }

    .list-items .item:hover {
        background-color: #e7edfe;
    }

    .item .item-text {
        font-size: 13px;
        font-weight: 400;
        color: #333;
    }

.item .checkbox {
    display: flex;
    align-items: center;
    height: 16px;
    width: 16px;
    justify-content: center;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.checkbox .check-icon {
    font-size: 9px;
    transform: scale(0);
    color: black;
}

.checked > .checkbox .check-icon {
    transform: scale(1);
}

.button-icon {
    position: relative;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    color: darkslategray;
    background-color: transparent;
    min-width: 1.5em;
    height: 1.5em;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    transition: color 0.2s ease;
}

.tooltip-top {
    left: 50%;
    bottom: 100%;
    margin-bottom: 0.5em;
    box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
}

.tooltip-top, .tooltip-bottom, .tooltip-left, .tooltip-right {
    position: absolute;
    overflow: hidden;
    opacity: 0;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    text-transform: none;
    line-height: initial;
    word-break: normal;
    overflow-wrap: normal;
    color: black;
    background-color: white;
    border: 0px solid silver;
    border-radius: 3px;
    pointer-events: none;
    width: 0;
    height: 0;
    max-height: 0;
    z-index: 2;
    transition: top 0.2s ease, bottom 0.2s ease, left 0.2s ease, right 0.2s ease, opacity 0.5s ease;
}

.button-icon.gold:before {
    background-color: white;
}

.button-icon:before {
    content: '\200b';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
}

/*------------------------------------------------------------------*/
/*-------------------------------------------------------[ LOADING ]*/
/*------------------------------------------------------------------*/
.loading-circle {
    display: block;
    position: relative;
    min-height: 1.5em;
}

    .loading-circle div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1.5em;
        height: 1.5em;
        margin: auto;
        border: 4px solid #fff;
        border-radius: 50%;
        animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: rgb(65, 105, 145) transparent transparent transparent;
    }

        .loading-circle div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .loading-circle div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .loading-circle div:nth-child(3) {
            animation-delay: -0.15s;
        }

    .loading-circle.text:after {
        content: attr(text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 1.5em;
    }

@keyframes loading-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-bars {
    /*position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    user-select: none;
    transform: translate(-50%, -50%);*/
    text-align: center;
}

    .loading-bars > span {
        display: inline-block;
        background-color: skyblue;
        width: 0.25em;
        min-height: 1.5em;
        vertical-align: middle;
    }

        .loading-bars > span:nth-child(1) {
            animation: loading-bar;
            animation-delay: 100ms;
            animation-duration: 400ms;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: scaleY(0);
        }

        .loading-bars > span:nth-child(2) {
            animation: loading-bar;
            animation-delay: 200ms;
            animation-duration: 400ms;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: scaleY(0);
        }

        .loading-bars > span:nth-child(3) {
            animation: loading-bar;
            animation-delay: 300ms;
            animation-duration: 400ms;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: scaleY(0);
        }

        .loading-bars > span:nth-child(4) {
            animation: loading-bar;
            animation-delay: 400ms;
            animation-duration: 400ms;
            animation-direction: alternate;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            transform: scaleY(0);
        }

@keyframes loading-bar {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.loading-circle.background,
.loading-bars.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .loading-circle.background:before,
    .loading-bars.background:before {
        content: '\200b';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }


[ui-content=loading],
[ui-content=empty],
[ui-content=paging] {
    display: none;
}

[ui-content=data][state=loading] ~ [ui-content=loading],
[ui-content=data][state=empty] ~ [ui-content=empty],
[ui-content=data][state=paging] ~ [ui-content=paging] {
    display: block;
}

tbody[ui-content=data][state=loading] ~ tfoot > tr[ui-content=loading],
tbody[ui-content=data][state=empty] ~ tfoot > tr[ui-content=empty],
tbody[ui-content=data][state=paging] ~ tfoot > tr[ui-content=paging] {
    display: table-row;
}

/*------------------------------------------------------------------*/
/*----------------------------------------------------------[ ???? ]*/
/*------------------------------------------------------------------*/

list {
    position: absolute;
    z-index: 1;
}

    list > loading,
    list > empty,
    list > data {
        background-color: white;
        /*border: 1px solid silver;*/
        border-radius: 3px;
        box-shadow: 0 0 0 1px silver;
        display: none;
    }

    list[state=loading] > loading {
        display: block;
    }

    list[state=empty] > empty {
        display: block;
    }

    list[state=loaded] > data {
        display: block;
    }

    .top-multiselect {
        margin-top: 10px;
    }

        .top-multiselect thead th {
            position: sticky;
            top: 0;
            background-color: #c49af1;
            padding-bottom: 0.3em;
            color: #fff;
            font-size: 17px;
            font-weight: 500;
        }


        .multiselect-container {
            align-items: center;
        }

.label {
    position: relative;
    display: block;
    line-height: 2em;
}

.user-details {
    position: relative;
    display: block;
    line-height: 2em;
}

/*------------------------------------------------------------------*/
/*---------------------------------------------------------[ POPUP ]*/
/*------------------------------------------------------------------*/
.ui-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50.1%, -50.1%);
    transform: translate(-50.1%, -50.1%);
    width: auto;
    max-width: 400px;
    overflow: auto;
    border-radius: 0.2em;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    box-sizing: border-box;
    will-change: transform;
    z-index: 1;
}

    .ui-popup > .left-bar {
        background-color: #333;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10px;
        width: 2.5em;
        text-align: center;
        color: white;
        padding-top: 10px;
        font-size: 2.5em;
        z-index: 1;
    }

    .ui-popup > .title {
        padding: 0.5em;
        padding-left: 6.25em;
        margin: 0;
        font-size: 120%;
        font-weight: bold;
        color: #333;
        border-bottom: 2px solid #333;
        background-color: transparent;
    }

    .ui-popup > .text {
        padding: 0.5em;
        padding-left: 7.5em;
    }

    .ui-popup > .bottom-bar {
        padding: 0.5em;
        text-align: right;
        font-size: 1.2em;
    }

    .ui-popup .confirm,
    .ui-popup .cancel {
        cursor: pointer;
        display: inline-block;
        padding: 0.5em;
        background-color: transparent;
        border: 0;
        transition: color 0.2s ease;
    }

    .ui-popup .confirm {
        color: green;
    }

    .ui-popup .cancel {
        color: red;
    }

        .ui-popup .confirm > span,
        .ui-popup .cancel > span {
            position: relative;
            /*display: block;*/
            margin-right: 0.25em;
            font-size: 150%;
            vertical-align: middle;
        }

        .ui-popup .confirm:hover > span,
        .ui-popup .cancel:hover > span {
            color: white;
        }

        .ui-popup .confirm > span:before,
        .ui-popup .cancel > span:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: silver;
            transform: translate(-50%, -50%);
            transition: width 0.2s ease, height 0.2s ease;
        }

    .ui-popup .confirm > span:before {
        background-color: green;
    }

    .ui-popup .cancel > span:before {
        background-color: red;
    }

    .ui-popup .confirm > span > svg,
    .ui-popup .cancel > span > svg {
        position: relative;
    }

    .ui-popup .confirm:hover > span:before,
    .ui-popup .cancel:hover > span:before {
        width: 1.5em;
        height: 1.5em;
    }

    .ui-popup .confirm > .fa-check-circle,
    .ui-popup .cancel > .fa-times-circle {
        vertical-align: -0.25em;
        font-size: 1.5em;
    }

.btn-galery {
    height: 25px;
    background: transparent;
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 0.5em;
}

.btn-galery span {
    color: black;
}

    .btn-galery svg {
        color: black;
    }

.overflow {
    max-height: 500px;
    overflow: auto;
    padding-bottom: 20px;
    padding-right: .5em;
}

.overflow > p {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid #e6e6e6cc;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
}

    .galery .g-item {
        border: 1px solid #e6e6e6;
        padding: .5em;
    }

        .galery .g-item img {
            width: 170px;
            height: 170px;
            object-fit: cover;
            cursor: pointer;
        }

input[type = color] {
    background-color: white;
}
