/* Sticky footer styles
-------------------------------------------------- */
body {
    height: 100vh;
    background: white;
    margin: 0;
    padding: 0;
    left: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

a {
    text-decoration: none;
}

/* Nav-Top
-------------------------------------------------- */
.nav-top {
    background-color: #b684eb;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    .nav-top > .user span {
        align-items: center;
        padding: 0 0.75rem;
    }

.social {
    margin: 20px;
    grid-area: social;
}



/* Nav-Main
-------------------------------------------------- */
.nav-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5em;
    /*grid-template-rows: 1fr 8vh 8vh;*/
    height: auto;
    background-color: #B583EA;
    grid-template-areas: "iten-user nav itens";
    /*"search search "*/
}


/* LOGO-PRINCIPAL + ITENS-ENTRAR E SACOLA
-------------------------------------------------- */
.logo {
    max-height: 6em;
    /* margin-left: 5%; */
    /* margin-top: -10px; */
    margin: auto;
    /* margin-bottom: 0px; */
    /* position: absolute; */
    grid-area: logo;
}

.iten-user {
    grid-area: iten-user;
    display: flex;
    align-items: center;
    margin-left: 15px;
    justify-content: flex-start;
    width: 50%;
}

.itens {
    display: flex;
    grid-area: itens;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

    .iten-user,
    .itens .user {
        font-size: 14px;
        font-weight: 500;
        color: white;
        margin-top: 3px;
    }

        .iten-user .user ul li {
            padding: 5px;
        }

.user ul {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    padding: 0.5em;
}

    .user ul li {
        padding: 10px;
    }
    
    

/* SEARCH PRINCIPAL
-------------------------------------------------- */
/*.cols:nth-child(1){
    margin-bottom: 0px;
}*/

#search::-webkit-input-placeholder {
    color: #e0dfdf;
    margin-left: 10px;
}

.search {
    grid-area: search;
    display: flex;
    height: 35px;
    position: relative;
}
    .search .content {
        width: 90%;
        margin-left: 8%;
    }

    
    .search input {
        width: 90%;
        border: 0;
        border-radius: 4px;
        border: solid 2px #e0dfdf;
        padding: 5px;
        animation-duration: 10ms;
        -webkit-tap-highlight-color: transparent;
        /*transition: 0.2s;*/
    }
        .search input[type="text"] {
            padding-left: 35px;
        }


            .search input[type="text"]:hover {
                border: 2px solid #B583EA;
                color: #B583EA;
            }

            .search input[type="text"]:focus {
                outline: none !important;
                border: 2px solid #B583EA;
                color: #B583EA;
            }

    .search div {
        min-height: 2em;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

        .search div .icon {
            min-width: 2em;
            min-height: 1em;
            display: inline-block;
            align-items: center;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            color: #d1d1d1;
        }

/* MENU
-------------------------------------------------- */

nav {
    grid-area: nav;
    width: 100%;
    z-index: 999;
    margin-top: -10px;
    /* height: 65px; */
    /* line-height: 50px; */
    background-color: transparent;
}

    nav .wrapper {
        height: 100%;
    }

ul {
    padding: 0;
}

.wrapper .nav-links {
    display: inline-flex;
    align-items: center;
    margin-top: 6px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
    .nav-links li a:hover {
        background-color: #ffffff4c;
        transition: all 0.3s ease;
    }

    .nav-links li {
        list-style: none;
    }

.nav-links .drop-menu {
    background: #212529;
    width: 180px;
    top: 65px;
    padding-left: 0.8em;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0;
}

li {
    text-align: start;
}

.mega-box {
    position: absolute;
    top: 66px;
    width: 70%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

    .mega-box .content {
        background: #212529;
        padding: 25px 27px;
        padding-top: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: space-around;
        width: 70%;
    }

.content .row {
    width: calc(34% - 28px);
    line-height: 33px;
}

    .content .row h1{
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    .content .row .mega-links{
        margin-left: -40px;
        border-left: 1px solid #ffffff91;
    }

        .content .row .mega-links:nth-child(1) {
            border-left: 1px solid red;
        }

        .row .mega-links li {
            padding: 0 20px;
        }

    .row .mega-links li a {
        padding: 0 20px;
        display: block;
    }

    /* section
-------------------------------------------------- */
section {
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-color: white;
}

/* Slider
-------------------------------------------------- */
.slider {
    width: 100%;
    overflow: hidden;
}

.slides {
    width:400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;  
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}
    .slide img {
        width: 100%;
    }

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -60px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background-color: #fff;
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 340px;
    display: flex;
    justify-content:center;
}

    .navigation-auto div {
        border: 2px solid #B583EA;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

/* content
-------------------------------------------------- */
content {
    background-color: white;
    height: auto;
}

/* Cols
-------------------------------------------------- */
.cols {
    width: 100%;
    height: auto;
    margin: 0 auto;
    top: 10px;
    position: relative;
    margin-bottom: 60px;
    flex-direction: column;
    overflow: hidden;
    /*background-color: black;*/
}

/* Product
-------------------------------------------------- */

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category {
    padding: 0 10vw;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
    text-transform: capitalize;
}

.product-container {
    /*padding: 0 10vw;*/
    display: flex;
    scroll-behavior: smooth;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    /*max-width: 250px;*/
    /*height: 450px;*/
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Details Product
-------------------------------------------------- */

.grid-content {
    display: grid;
    grid-template-areas:
        "small big info"
        "small big info"
        "small big info";
    grid-template-rows: 1fr;
    grid-template-columns: 110px 1fr 110%;
}
.left {
    margin: 45px;
}

.big-img {
    grid-area: big;
    width: 400px;
}

.big-img img{
    width: inherit;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.small-img {
    grid-area: small;
    width: 90px;
    overflow: hidden;
    /*border: 1.5px solid #000;*/
}

    .small-img img{
        width: inherit;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .small-img:hover img{
        transform: scale(1.2);
    }

.info-details {
    grid-area: info;
    width: 500px;
}

    .info-details h1 {
        text-align: start;
    }

    .info-details p {
        line-height: 1.15;
        letter-spacing: 0;
        margin: 0;

    }

        .info-details p > .price {
            font-size: 25px;
            color: #B583EA;
        }

    .info-details div .radio-size,
    .info-details div .radio {
        cursor: pointer;
        appearance: none;
        width: 1.7em;
        height: 1.6em;
        margin: 10px;
        outline: none;
        background: black;
        border-radius: 50%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .info-details div .radio:before {
            content: '';
            position: absolute;
            width: 2em;
            height: 2em;
            border: 2px solid black;
            background-color: transparent;
            border-radius: 50%;
            transition: all 600ms ease-in-out;
            opacity: 0;
        }


    .info-details div .radio-size {
        cursor: pointer;
        appearance: none;
        width: 2.5em;
        height: 2.3em;
        margin: 10px;
        outline: none;
        border: 1px solid black;
        color: #B583EA;
        background-color: transparent;
        border-radius: 10%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .info-details div .radio-size:hover {
            background-color: black;
            color: white;
            transition: all 600ms ease-in-out;
        }

        /*.info-details div .radio-size:before {
            content: '';
            position: absolute;
            width: 2.5em;
            height: 2.5em;
            border: 2px solid black;
            background-color: transparent;
            border-radius: 0%;
            transition: all 600ms ease-in-out;
            opacity: 0;
        }*/
        .info-details div .radio-size:checked:before,
        .info-details div .radio:checked:before {
            opacity: 1;
        }
            .info-details div:nth-child(2) {
                padding-top: 0;
            }

        .discount-heart,
        .discount-tag {
            position: absolute;
            background: white;
            padding: 5px;
            border-radius: 5px;
            color: #b684eb; /*lilás site*/
            right: 10px;
            top: 10px;
            text-transform: capitalize;
        }

.swiper {
    width:85%;
}


    /*/--------BUTTON PREFERIDOS---------/*/
    .discount-heart {
        left: 10px;
        background: none;
    }
    .discount-heart .icon {
        width: 23px;
        height: 23px;
        color: #b684eb;
        cursor: pointer;
    }

input[type="checkbox"] {
    position: absolute;
    outline: none;
    opacity: 0;
    width: 15px;
    height: 15px;
    z-index: 1;
    cursor: pointer;
}

    input[type="checkbox"]:checked ~ .icon {
        color: #f72e2e;
    }

    .card-btn {
        position: relative;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        padding: 10px;
        width: 90%;
        color: #B583EA;
        /*text-transform: capitalize;*/
        border: none;
        outline: none;
        background: white;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
        opacity: 0;
    }

.product-card:hover .card-btn {
    opacity: 1;
}
    .card-btn:hover {
        background: #b684eb;
        color: white;
    }

.product-info {
    width: 100%;
    /*height: 100%;*/
    padding-top: 10px;
    cursor: pointer;
}

.product-brand {
    text-transform: uppercase;
    margin: 0;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    /*font-weight: 900;*/
    font-size: 17px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    cursor: pointer;
    z-index: 8;
}

    .pre-btn > .icon,
    .nxt-btn > .icon {
        color: #d1d1d1;
        min-width: 2em;
        min-height: 2em;
    }


    .pre-btn {
        left: 0;
    }

    .nxt-btn {
        right: 0;
    }

        .pre-btn .icon,
        .nxt-btn .icon {
            opacity: 0.2;
        }

        .pre-btn:hover .icon,
        .nxt-btn:hover .icon {
            opacity: 1;
        }

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

    .collection img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collection p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 50px;
        text-transform: capitalize;
    }

    .collection:nth-child(3) {
        grid-column: span 2;
        margin-bottom: 10px;
    }
    /* Footer
-------------------------------------------------- */
    .footer {
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 10vh; /* Vertically center the text there */
        background-color: #f3f3f3;
    }

/*------------------------------------------------------------------*/
/*------------------------------------------------------[ ELEMENTS ]*/
/*------------------------------------------------------------------*/

.icon {
    position: relative;
    display: inline-block;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
    min-width: 1.3em;
    min-height: 1.3em;
    /*font-size: 1.09375rem;*/
    text-align: center;
    color: white;
    fill: currentColor;
}

    .icon > * {
        position: relative;
    }

.flex {
    display: flex;
}

.line {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    padding-top: 20px;
}

