/* Sticky footer styles
-------------------------------------------------- */
body {
    height: 100vh;
    background: white;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
.nav-top {
    background-color: aqua;
    height: 10vh;
}
.nav-main {
    background-color: chocolate;
    height: 10vh;
}
header {
    background-color: blueviolet;
    height: 10vh;
}
.container {
    background-color: black;
    height: 60vh;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 10vh; /* Vertically center the text there */
    background-color: white;
}
