@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/CRM/Shared/_Layout.cshtml";
}
<content>
    <div class="nav-opcoes">
        <nav>
            <div class="wrapper">
                <ul class="nav-links">
                    <li>
                        <a href="~/CRM/Index">Produtos</a>
                    </li>
                    <li>
                        <a href="~/CRM/Cadastro">Categoria</a>
                    </li>
                    <li>
                        <a href="~/Estoque/Produto">Cupons</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content-sis">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>Cadastro de Produtos</th>
                        <th>
                            <input class="search-crm" placeholder="Produto"/>
                            <button class="button-new">Adicionar Produto</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</content>
