@{
    ViewData["Title"] = "Sacola";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script type="text/javascript" src="~/js/fa/all.js"></script>
    <script type="text/javascript" src="~/js/ChartJS/Chart.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="~/js/swipe.js"></script>
</head>
<div class="nav-main-sacola">
    <img class="logo" src="~/image/logo-oficial.png" alt=""/>
    <nav>
        <div class="wrapper">
            
            <ul class="nav-links">
                <li class="active">
                    <a>Sacola</a>
                </li>
                <li>
                    <a>Identificação</a>
                </li>
                <li>
                    <a>Pagamento</a>
                </li>
                <li>
                    <a>Sucesso</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<content>
    <div class="wrapper-sacola">
        <div class="cols">
            <div class="title-resume"><h1>Sacola</h1></div>
            <div class="card-sacola">
                <div class="resume-shop">
                    <div>
                        <img src="~/image/jeans.jpg" />
                        <div class="resume-info">
                            <p><strong>Calça de Moletom Feminina Jogger Preto AK by Riachuelo</strong></p>
                            <p><span>Tamanho: </span><strong>P</strong></p>
                            <p><span>Cor: </span><strong>Preto</strong></p>
                            <p>
                                <span class="title-qtd size-1em">Quantidade: </span>
                                <button id="decrement" onclick="stepper(this)">-</button>
                                <input type="number" min="0" max="100" value="1" id="input-qtd"/>
                                <button id="increment" onclick="stepper(this)">+</button>
                            </p>
                        </div>
                        <div class="remove-item">
                            <button class="icon tooltip select">
                                <i class="far fa-trash"></i>
                            </button>
                            <span class="value-size">R$120,00</span>
                        </div>
                    </div>
                </div>
                <div class="entrega-shop">
                    <div class="title-entrega"><h1>Selecione uma opção para a entrega:</h1></div>
                    <div class="flex">
                        <div>
                            <input type="radio" name="radio1" class="radio" id="op-entrega"/>
                            <label class="text-entrega-uber w-100" for="op-entrega">Uber Flash</label>
                        </div>
                        <div>
                            <input type="radio" name="radio1" class="radio" id="op-entrega-correio" onclick="hiddenGroup(this)"/>
                            <label class="text-entrega-correios w-100" for="op-entrega-correio">Correios</label>
                        </div>
                        <div>
                            <input type="radio" name="radio1" class="radio" id="op-entrega-vendedor" onclick="hiddenGroup(this)"/>
                            <label class="text-entrega" for="op-entrega-vendedor">Combine com o vendedor</label>
                        </div>
                    </div>
                    <div class="info-none none">
                        <div class="box">
                            <form>
                                <input type="text" id="consulta" data-bind="" placeholder="Digite seu CEP aqui"/>
                                <input type="submit" id="search" data-bind="" value="calcular frete"/>
                            </form>
                        </div>
                    </div>
                    <div class="info-none">
                        
                        <div class="box">
                            <span><strong>Importante: </strong></span>
                            <span>Entrega somente em estações da linha 8 diamante da CPTM;</span>
                            <span>A taxa de entrega pode variar dependendo da estação selecionada;</span>
                            <span>Fazemos entrega somente aos sábados.</span>
                        </div>
                        <div class="box">
                            <label class="custom-seletor">
                                <span>Selecione a Estação:</span>
                                <select>
                                    <option value="1">Carapicuíba</option>
                                    <option value="1">Osasco</option>
                                    <option value="1">General Miguel Costa</option>
                                </select>
                            </label>
                            <label class="custom-seletor">
                                <span>Taxa de Entrega:</span>
                                <span>R$ 15,00</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="valor-shop"></div>

            </div>
        </div>
    </div>
</content>
<script>
    function stepper(btn) {
       let input = btn.closest('content').querySelector('#input-qtd');

       let id = btn.getAttribute("id");
       let min = input.getAttribute("min");
       let max = input.getAttribute("max");
       let val = input.getAttribute("value");
       let newValue = (id == "increment") ? (parseInt(val) + 1) : (val - 1);

       if(newValue >= min && newValue <= max) {
           console.log("entrei")
           input.setAttribute("value", newValue);
       }

    }

    function hiddenGroup(element) {
        let apparence = element.closest('.entrega-shop').querySelector('.info-none');

        if (element.checked)
        {
            apparence.classList.remove("none");

        }else{
            apparence.classList.add("none");
        }
    }
</script>