@using EstiloMB.MVC
@using EstiloMB.Core
@{
    ViewData["Title"] = "Sacola";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/site.css" />

    <script type="text/javascript" src="~/js/fa/all.js"></script>
    <script type="text/javascript" src="~/js/ChartJS/Chart.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/Minimum-1.8.js"></script>
    <script src="~/js/swipe.js"></script>
</head>
<div class="nav-main-sacola">
    <img class="logo" src="~/image/logo-oficial.png" alt="" />
    <nav>
        <div class="wrapper">
            
        </div>
    </nav>
</div>
<content>
    <div class="wrapper-sacola">
        <div class="colsWeb">
            <div class="vazia">
                <img src="~/image/SacolaVazia.png" />
                <h1>Sua sacola está vazia</h1>
                <p>Que tal começar conferindo alguns produtos?</p>
                <a class="" href="../">IR PARA AS NOVIDADES</a>
            </div>
           
        </div>
    </div>
</content>