@{
    ViewData["Title"] = "Sacola";
    
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js"></script>
    <script src="~/js/swipe.js"></script>
</head>
<div class="nav-main-sacola">
    <img class="logo" src="~/image/logo-oficial.png" alt=""/>
    <nav>
        <div class="wrapper">
            
            <ul class="nav-links">
                <li>
                    <a>Sacola</a>
                </li>
                <li>
                    <a>Identificação</a>
                </li>
                <li>
                    <a>Pagamento</a>
                </li>
                <li>
                    <a>Sucesso</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<content>
    <div class="cols">
        <div class="card">

        </div>
    </div>
</content>